body,
body pre,
body pre code.js {
	display:	block;
	padding:	0px !important;
	margin:		0px !important;
	width:		100%;
	height:		100%;
}
body,
body pre {
	overflow:	hidden !important;
}
body pre code.js {
	overflow:	auto !important;
}